@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-weight: 400;
  background-color: #fff;
}
